# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles
*.pot
*.pyc

# If using Django's collectstatic
/static/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# MySQL or other database dumps
*.sql
*.dump

# Secrets or environment variables
.env
.env.*

# Logs
*.log
logs/
